# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages in Data Science
- List of commonly used Libraries in Data Science
- 3 Open source Development Environment Tools
- few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. JavaScript.

Some of the commonly used libraries used by Data Scientists include:

1. Pandas.
2. NumPy.
3. SciPy.
4. TensorFlow.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.

Data Science open source development environment tools
|Data Science Tools|
| ------ | 
|Jupyter|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
 (3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
Time = 200
Hours = 0

Hours = Time / 60
print( str(Hours)  +  "hours" )

3.3333333333333335hours

## Author
Rahul Burada